{% extends "base.html.twig" %}

{% block body %}

{% for label, msgs in app.flashes %}
		{% for msg in msgs %}
			<div class="alert alert-{{ label }} text-center">
				{{ msg }}
			</div>

		{% endfor %}
	{% endfor %}

<h1 class="text-center">Liste de vos commandes</h1>

<table class="table">
<thead>
    <tr>
        <th>Date de départ</th>
        <th>Date de fin</th>
        <th>Date de la commande</th>
        <th>Prix total</th>
        <th>Chambre</th>
    </tr>
</thead>
<tbody>
{% for item in commandes %}
    <tr>
        <td>{{ item.dateArrivee|date('d/m/Y à H:i:s') }}</td>
        <td>{{ item.dateDepart|date('d/m/Y à H:i:s') }}</td>
        <td>{{ item.dateEnregistrement|date('d/m/Y à H:i:s') }}</td>
        <td>{{ item.prixTotal }}€</td>
        <td>{{ item.chambre.titre }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}