{% extends 'base.html.twig' %}

{% block title %}Hello AdminCrudUsersController!{% endblock %}

{% block body %}
<h1 class="text-center">Admin Membres</h1>

	{% for label, msgs in app.flashes %}
		{% for msg in msgs %}
			<div class="alert alert-{{ label }} text-center">
				{{ msg }}
			</div>

		{% endfor %}
	{% endfor %}

	<a href="{{ path('admin_crud_users_new') }}" class="btn btn-success my-3">Créer un utilisateur</a>


	<table class="table table-bordered text-center">
		<thead>
			<tr>
				{% for data in colonnes %}
				{#  #}
					{% if data != "id" and data != 'password' and data != 'roles' %}
						<th>{{ data }}</th>
					{% endif %}
				{% endfor %}
				<th>Editer / Supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for data in usrs %}
				<tr>
					<td>{{ data.pseudo }}</td>
					{# <td>{{ data.password }}</td> #}
					{# <td>
						{% for role in data.roles %}
							{{ role }}
							<br>
						{% endfor %}
					</td> #}
					<td>{{ data.nom }}</td>
					<td>{{ data.prenom }}</td>
					<td>{{ data.email }}</td>
					<td>{{ data.civilite }}</td>
					<td>{{ data.dateEnregistrement|date('d/m/Y à H:i:s') }}</td>
					<td>
						<a href="{{ path('admin_crud_users_edit', {'id': data.id}) }}" class="text-dark">
							<i class="fas fa-edit fa-lg"></i>
						</a>

						<a onclick="return confirm('Voulez-vous supprimer ce membre ?')" href="{{ path('admin_crud_users_delete', {'id': data.id}) }}" class="text-dark">
							<i class="fas fa-trash-alt fa-lg"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>
{% endblock %}
